.sideBar {
    position: relative;
    float: left;
    width: 17%;
    height: 100vh;
    background-color: #4F5D73;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sideBar h3 {
    color: #fff;
    margin-bottom: 12px;
}

.dashContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

    .head {
        display: flex;
        flex-basis: 10%;
        background-color: #F8F8F8;
    }

        .dashNavbar {
            width: 100%;
        }

            .dashNav {
                width: auto;
                height: 90px;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

                .dashNav li {
                    line-height: 90px;
                    text-align: center;
                }
            
                    .dashNav li a {
                        text-decoration: none;
                        color: #798494;
                    }

    .content {
        display: flex;
        flex-basis: 33%;
        align-items: center;
        background-color: #fff;
    }

        .content p {
            padding: 0px 15%;
        }
        
    .info {
        display: flex;
        flex-basis: 57%;
        background-color: #F8F8F8;
    }