* {
    margin: 0;
    padding: 0;
  }

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/******************* HEADER *********************/
/************************************************/

.loginNav {
    height: 60px;
    margin-bottom: 15px;
    background-color: dimgray;
}

.loginNav h1 {
    margin: auto;
    padding: 12px 12px;
    color: #ffffff;
}

/**************** CONTENT ***********************/
/************************************************/

section .loginContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.login h1 {
    margin: 10px auto;
}

.login form {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.loginContainer input {
    height: 30px;
    padding: 9px;
    font-size: medium;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0,0,0,0.9);
    transition: all 150ms 50ms ease-in-out;
}

.loginContainer input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.sign {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    height: 60px;
}

.sign:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

/********************** FOOTER *********************/
/***************************************************/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

footer div {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    section .loginContainer {
        margin: 3rem 8rem;
    }
    section h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    section .loginContainer {
        margin: 2rem 24rem;
    }
    section h1 {
        font-size: 30px;
    }
    .loginContainer input {
        padding: 6px;
        height: 35px;
    }
    .loginContainer .sing {
        height: 45px;
        line-height: 1;
    }
}

@media only screen and (min-width: 1440px) {
    section .loginContainer {
        margin: 3rem 36rem;
    }
    .loginContainer h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .loginContainer input {
        font-size: 1.2rem;
        padding: 10px;
        margin-bottom: 25px
    }
    .loginContainer .sign {
        font-size: 1.5rem;
        height: 60px;
    }
    .loginNav {
        height: 5rem;
    }
    .loginNav h1 {
        font-size: 3rem;
    }

    footer {
        height: 2rem;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 2560px) {
    section .loginContainer {
        margin: 3rem 60rem;
    }
}